<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Robot Control Love</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/robot_server/static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/robot_server/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Robot Love</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Robot Control Love</h1>

      <div class="btn-group" data-toggle="buttons-checkbox">
          <button id="cutter" type="button" class="btn btn-primary">Cutter</button>
          <button id="light" type="button" class="btn btn-primary">Light</button>
          <button id="notification" type="button" class="btn btn-primary">Notification</button>
      </div>

      <hr/>

      <div class="btn-group">
          <h2>Left Wheel</h2>
           <button id="wheelsLeftPlus" type="button" class="btn">+</button>
           <button id="wheelsLeftMinus" type="button" class="btn">-</button>
      </div>
      <div class="btn-group">
          <h2>Right Wheel</h2>
           <button id="wheelsRightPlus" type="button" class="btn">+</button>
           <button id="wheelsRightMinus" type="button" class="btn">-</button>
      </div>

      <hr/>

      <div class="btn-group">
          <h2>Camera</h2>
          <button id="cameraLeft" type="button" class="btn">Left</button>
          <button id="cameraRight" type="button" class="btn">Right</button>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/robot_server/static/js/jquery-1.8.3.min.js"></script>
    <script src="/robot_server/static/js/bootstrap.min.js"></script>
    <script src="/robot_server/static/js/robots-server.js"></script>
  </body>
</html>
